body, table
{
	font-weight: 100;
}

.dashboard-widget
{
	text-align: center;
	padding: 20px;
	font-weight: 100;
	border: 1px solid #F4F7FA;
	border-radius: 2px;
	background-color: #F4F7FA;
  overflow:hidden;
}

.dashboard-widget-num
{
	font-size: 4em;
	font-weight: 100;
	margin: 0;
	padding: 0;
	height: 90px;
}

#dashboard-articles-progress-num, .dashboard-widget-text-bottom
{
  margin-top: -20px;
}

tbody th
{
	font-weight: normal;
	text-align: center;
}

.dashboard-widget-num-small
{
	font-size: 2em;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

#progress-chart
{
	height: 40px;
}

.table-responsive
{
	padding-bottom: 50px;
}

.red {
  color: red;
}

.green {
  color: green;
}

td.gray{
	color: #aaa;
}

.chart-tooltip
{
  position: absolute;
  color:white;
  text-align: center;
  background-color: #8BC34A;
  padding: 10px;
  border: 2px solid #689F38;
}

#delivered-chart .ct-series-a .ct-line, #delivered-chart .ct-series-a .ct-point
{
  stroke: #8BC34A;
  
}

#delivered-chart .ct-series-a .ct-point
{
  stroke-width: 20px;
}


#progress-chart .ct-grids, #progress-chart .ct-labels
{
	display:none;
}

.ct-label
{
	font-size:1em;
}

.pipeline-row
{
	height: 240px;
}

.status-indicator
{
  height: 10px;
  width: 100%;
}

.draft, .code, .edit, .test
{
  padding: 0px;
  background-color: white;
}

.draft .status-indicator
{
	background-color: #207de5;
	border: none;
}

.code .status-indicator
{
	background-color: #eb6420;
	border: none;
}

.edit .status-indicator
{
	background-color: #5319e7;
	border: none;
}

.test .status-indicator
{
	background-color: #fbca04;
	border: none;
}

#pipeline-bar-chart .ct-series-b .ct-bar
{
    stroke: #eee !important;
}

#pipeline-bar-chart .ct-series-a .ct-bar
{
    stroke: #8BC34A !important;
}

.ct-series-a .ct-bar
{
	stroke: #207de5;
}

.ct-series-b .ct-bar
{
	stroke: #eb6420;
}

.ct-series-c .ct-bar
{
	stroke: #5319e7;
}

.ct-series-d .ct-bar
{
	stroke: #fbca04;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}