body, table
{
	font-weight: 100;
}

.dashboard-widget
{
	text-align: center;
	padding: 20px;
	font-weight: 100;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.dashboard-widget-num
{
	font-size: 4em;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

td.red {
  color: red;
}

.green {
  color: green;
}

td.gray{
	color: #ddd;
}
